.ev-registration {
    .moving-tab, .md-button.md-success, .md-button.md-success:hover, .md-button.md-success:focus, .md-button.md-success:active, .md-button.md-success.active, .md-button.md-success:active:focus, .md-button.md-success:active:hover, .md-button.md-success.active:focus, .md-button.md-success.active:hover, .open > .md-button.md-success.dropdown-toggle, .open > .md-button.md-success.dropdown-toggle:focus, .open > .md-button.md-success.dropdown-toggle:hover{
        background-color: #f59b00 !important;
    }
    .md-button-content{
        color: #ffffff !important;
    }
    .md-card-tabs .active.md-list-item.md-warning .md-list-item-button, .md-card-tabs .active.md-list-item.md-warning .md-list-item-button:hover, .md-card-tabs .active.md-list-item.md-warning .md-list-item-button:focus{
        background-color: #f59b00 !important;
    }

}